


table.rtr-table {
    border: 0px;
    background-color: #1e1d1d;
    color: wheat;
}

table.rtr-table tbody td {
    border-top: solid 0px #fff;
    border-bottom: solid 1px #fff;
    border-radius: 0.1rem;
    padding: 1rem;
    text-align: left;
    word-break: break-word;
}
table.rtr-table tbody tr:hover {
    border:  0px ;
  
}

table.rtr-table thead th{

    color: rgb(33, 32, 32);
    border: 0px;
    border-radius: 0.1rem;
}