@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.max-w{

    max-width: 1400px;
    margin: auto;
}
.active{
    background: white;

}

.btn-p {
    background-color: #ff0000;
    border-radius: 3px;
   padding: 4px 8px;
    color: white;
}

.btn-p:hover{
    background-color: #ba0e0e;
}
.btn-s {
    background-color: #b8b5b5;
    border-radius: 3px;
   padding: 4px 8px;
    color: rgb(48, 46, 46);
    font-weight: 600;
}

.btn-s:hover{
    background-color: #918c8c;
}

.bb{
    border: 3px solid white;
    /* border: 3px solid #4d4a4a; */
   
}

.resTable Td {
    /* border:  solid red 2px; */
    padding: 2px;
}



/* REACT ResponsiveTable  Style Start */

table.rtr-table tbody tr:hover td  {
   
    box-shadow: none !important; /* Box-shadow সরানো */
    /* color: #000000 !important; */
    font-weight: 500;
   
}
table.rtr-table tbody {
    text-align: center !important;
    background-color: black !important;
}
@media screen and (max-width: 600px) {
    table.rtr-table tbody td {
     
        /* background: #000000 !important; */

        color: black !important; 
         text-align: start !important;
       
    }
    table.rtr-table tbody td:before {
        margin: auto !important;
        padding: 10px !important;  
       
    }
    table.rtr-table tbody td:not(:first-child):before {
        
        left: 0%  !important;
    }
}
/* REACT ResponsiveTable  Style End */